body {

    background-image: url(/images/customimg/asdasdasdasdasd.png);
    height: 100% ;
    background-repeat: no-repeat;
    
}

/* #custom-background {

    background-image: url(../images/customimg/42044101450_57be167766_k.png);
    height: 150vh;
    background-repeat: no-repeat;
    

} */